
html {
    margin: 0;
    padding: 0;
}

header h1 {
        font-size: 2.5em;
}
        h1 {
        text-align: center;
}

h1 {
    background-color: rgb(119, 202, 230); 
    }
img {
    width: 50;
    height: 50;
}    
h2 {
    font-size: 2.5em;
}
    h2 {
    text-align: center;
}

h2 {
background-color: rgb(119, 202, 230); 
}
img {
width: 50;
height: 50;
}    

